.loading {
  font-size: 20px;
  letter-spacing: 4px;
  text-align: center;
  font-family: var(--font-integral);
  animation: 1s loader infinite;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dotContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  .dot {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
  }
  :nth-of-type(1) {
    animation: 1s up infinite;
  }
  :nth-of-type(2) {
    animation: 1s up infinite 0.2s;
  }
  :nth-of-type(3) {
    animation: 1s up infinite 0.5s;
  }
}
@keyframes up {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
