.footer {
  margin-top: 196px;
  height: 846px;
  background-color: rgba(240, 240, 240, 1);
  position: relative;
  .footerTop {
    position: absolute;
    top: -17%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    border-radius: 20px;
    height: 293px;
    padding: 24px;
    padding-top: 32px;
    .newsletterForm {
      display: grid;
      height: 100%;
      justify-content: space-between;
      h2 {
        font-family: var(--font-integral);
        line-height: 35px;
        font-size: 32px;
        color: rgba(255, 255, 255, 1);
      }
      .newsletterControls {
        display: flex;
        gap: 12px;
        flex-direction: column;
        justify-content: flex-end;
      }
      .inputGroup input,
      button {
        width: 100%;
        height: 42px;
        border-radius: 62px;
        outline: none;
        border: none;
        background-color: rgba(255, 255, 255, 1);
      }
      .inputGroup {
        position: relative;
        input {
          padding-left: 48px;
          color: #000000;
        }
        .inputIcon {
          position: absolute;
          left: 16;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      button {
        color: rgba(0, 0, 0, 1);
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        font-family: var(--font-satoshi);
      }
    }
  }
  .footerMain {
    padding-top: 179px;
    display: grid;
    margin-inline: auto;
    .footerBrand {
      .footerlogo {
        font-size: 28.85px;
        font-weight: 700;
        font-family: var(--font-integral);
        line-height: 100%;
      }
      p {
        color: rgba(0, 0, 0, 0.6);
        padding-top: 14px;
        font-size: 14px;
        font-family: var(--font-satoshi);
        font-weight: 400;
        line-height: 20px;
      }
      .socialLinks {
        display: flex;
        padding-top: 20px;
        gap: 12px;
        .socialBox {
          display: flex;
          width: 28px;
          height: 28px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 50%;
          justify-content: center;
          align-items: center;
        }
        .socialBox:nth-of-type(2) {
          background-color: #000000;
        }
      }
    }
    .footerNav {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      padding-top: 24px;
      .footerColumn {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      h4 {
        font-family: var(--font-satoshi);
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
      a {
        display: block;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        font-weight: 400;
        font-family: var(--font-satoshi);
        line-height: 16px;
      }
    }
    .footerBottom {
      display: grid;
      gap: 16px;
      hr {
        margin-top: 40px;
        background-color: rgba(0, 0, 0, 0.1);
      }
      .rights {
        text-align: center;
        padding-top: 0px;
        font-size: 14px;
        font-family: var(--font-satoshi);
        font-weight: 400;
        line-height: 100%;
        color: rgba(0, 0, 0, 0.6);
      }
      .paymentMethods {
        display: flex;
        justify-content: center;
        gap: 10px;
        .paymentItem {
          width: 40px;
          height: 26px;
          background-color: rgba(255, 255, 255, 1);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4.61px;
          img {
            display: block;
          }
        }
      }
      .paymentContainer .paymentItem:nth-of-type(2) {
        img {
          width: 21px;
          height: 13px;
        }
      }
    }
  }
}
@media (min-width: 1440px) {
  .footer {
    height: 489px;
    .footerTop {
      transition: 0.7s ease-in-out;
      height: 180px;
      top: -18%;
      padding-inline: 64px;
      .newsletterForm {
        grid-template-columns: 1.6fr 1fr;
        align-items: center;
        h2 {
          font-size: 40px;
          line-height: 45px;
          max-width: 551px;
        }
        .newsletterControls {
          justify-self: flex-end;
          max-width: 349px;
          width: 100%;
          .inputGroup {
            input {
              font-size: 16px;
              height: 46px;
            }
            .inputIcon {
              width: 24px;
              height: 24px;
            }
          }
          button {
            font-size: 16px;
            height: 46px;
          }
        }
      }
    }
    .footerMain {
      grid-template-columns: 1fr 3fr;
      .footerBrand {
        max-width: 248px;
        .footerlogo {
          font-size: 33.45px;
        }
        p {
          line-height: 22px;
        }
        .socialLinks {
          padding-top: 35px;
        }
      }
      .footerNav {
        padding-top: 0px;
        grid-template-columns: repeat(4, 1fr);
        justify-items: end;
        .footerColumn {
          justify-content: space-between;
        }
        h4 {
          font-size: 16px;
          letter-spacing: 3px;
        }
        a {
          font-size: 16px;
          line-height: 19px;
        }
      }
      .footerBottom {
        gap: 24px;
        grid-column: span 2;
        .rights {
          text-align: start;
        }
        hr {
          grid-column: span 2;
        }
        p {
          text-align: start;
        }
        .paymentMethods {
          justify-content: end;
        }
      }
    }
  }
}
