.footer {
  margin-top: 196px;
  height: 846px;
  background-color: rgba(240, 240, 240, 1);
  position: relative;
  .footerForm {
    position: absolute;
    top: -17%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    border-radius: 20px;
    height: 293px;
    padding: 24px;
    padding-top: 32px;
    form {
      display: grid;
      height: 100%;
      justify-content: space-between;
      h2 {
        font-family: var(--font-integral);
        line-height: 35px;
        font-size: 32px;
        color: rgba(255, 255, 255, 1);
      }
      .contentContainer {
        display: flex;
        gap: 12px;
        flex-direction: column;
      }
      .formGroup input,
      button {
        width: 100%;
        height: 42px;
        border-radius: 62px;
        outline: none;
        border: none;
        background-color: rgba(255, 255, 255, 1);
      }
      .formGroup {
        position: relative;
        input {
          padding-left: 48px;
          color: #000000;
        }
        .emailIcon {
          position: absolute;
          left: 16;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      button {
        color: rgba(0, 0, 0, 1);
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        font-family: var(--font-satoshi);
      }
    }
  }
  .footerWrapper {
    padding-top: 179px;
    max-width: 358px;
    width: 100%;
    margin-inline: auto;
    .footerLogo {
      font-size: 28.85px;
      font-weight: 700;
      font-family: var(--font-integral);
      line-height: 100%;
    }
    p {
      color: rgba(0, 0, 0, 0.6);
      padding-top: 14px;
      font-size: 14px;
      font-family: var(--font-satoshi);
      font-weight: 400;
      line-height: 20px;
    }
    .socialContainer {
      display: flex;
      padding-top: 20px;
      gap: 12px;
      .socialBox {
        display: flex;
        width: 28px;
        height: 28px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
      }
    }
    .socialContainer .socialBox:nth-of-type(2) {
      background-color: #000000;
    }
    .footerSection {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      padding-top: 24px;
      .footerColumn {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      h4 {
        font-family: var(--font-satoshi);
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
      a {
        display: block;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        font-weight: 400;
        font-family: var(--font-satoshi);
        line-height: 16px;
      }
    }
    hr {
      margin-top: 40px;
      background-color: rgba(0, 0, 0, 0.1);
    }
    .rights {
      text-align: center;
      font-size: 14px;
      font-family: var(--font-satoshi);
      font-weight: 400;
      line-height: 100%;
    }
    .paymentContainer {
      display: flex;
      padding-top: 16px;
      justify-content: center;
      gap: 10px;
      .paymentBox {
        width: 40px;
        height: 26px;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4.61px;
        img {
          display: block;
        }
      }
    }
    .paymentContainer .paymentBox:nth-of-type(2) {
      img {
        width: 21px;
        height: 13px;
      }
    }
  }
}
@media (min-width: 1440px) {
  .footer {
    .footerForm {
      transition: 1s ease;
      height: 180px;
      top: -11%;
      form {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
