.promoBar {
  position: fixed;
  width: 100%;
  font-size: 12px;
  top: 0px;
  text-align: center;
  padding-block: 10px;
  background-color: #000000;
  color: #ffff;
  font-family: var(--font-satoshi);
  z-index: 10;
  a {
    text-decoration: underline;
    font-weight: 500;
  }
}
.navbar {
  display: flex;
  align-items: center;
  padding-block: 23px;
  justify-content: space-between;
  .searchInput {
    display: none;
  }
}
.logo {
  font-weight: 700;
  font-size: 22.2px;
  font-family: var(--font-integral);
  line-height: 100%;
}
.brand {
  display: flex;
  align-items: center;
  gap: 16px;
}
.burgerBtn {
  background-color: transparent;
  outline: none;
  border: none;
  transition: 0.4s ease-in-out;
}
.burgerBtnActive {
  background-color: transparent;
  outline: none;
  border: none;
  position: relative;
  z-index: 4;
  transform: rotate(90deg);
  transition: 0.4s ease-in-out;
  svg path {
    fill: #ffff;
  }
}
.nav {
  display: flex;
  gap: 12px;
}
.navACtive {
  max-width: 200px;
  width: 100%;
  height: 400px;
  position: absolute;
  background-color: #000000;
  top: 0;
  left: 0;
  color: #ffff;
  padding: 20px;
  border-bottom-right-radius: 20px;
  .navList {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    li {
      transition: 0.4s ease-in-out;
      &:hover {
        text-shadow: 2px 1px 4px #fff;
      }
    }
  }
}
.navList {
  display: none;
}
.actions {
  display: flex;
  gap: 12px;
  align-items: center;
}
.dropdownTrigger {
  display: flex;
  align-items: center;
  gap: 4px;
  background: none;
  color: inherit;
  font-size: 16px;
  font-family: var(--font-satoshi);
  border: none;
}
.hr {
  max-width: 1240px;
  width: 100%;
  margin: auto;
}
@media (min-width: 1400px) {
  .promoBar {
    font-size: 14px;
  }
  .navbar {
    .brand {
      .burgerBtn {
        display: none;
      }
      .logo {
        font-size: 32px;
      }
    }
    .nav {
      gap: 40px;
      .searchIcon {
        display: none;
      }
      .navList {
        display: flex;
        gap: 24px;
        align-items: center;
        li {
          line-height: 100%;
          transition: 0.4s ease-in-out;
          &:hover {
            text-shadow: 2px 1px 4px #000;
          }
        }
      }
    }
    .actions {
      gap: 16px;
      .searchInput {
        display: block;
        width: 577px;
        height: 48px;
        border-radius: 62px;
        outline: none;
        border: none;
        background-color: rgba(240, 240, 240, 1);
        color: #000000;
        padding-left: 42px;
        font-size: 16px;
      }
      .searchIcon {
        display: none;
      }
    }
  }
}
