.promoBar {
  position: fixed;
  width: 100%;
  font-size: 12px;
  top: 0px;
  text-align: center;
  padding-block: 10px;
  background-color: #000000;
  color: #ffff;
  font-family: var(--font-satoshi);
  z-index: 10;
  a {
    text-decoration: underline;
    font-weight: 500;
  }
}
.navbar {
  display: flex;
  align-items: center;
  padding-block: 23px;
  justify-content: space-between;
  .searchInput {
    display: none;
  }
}
.logo {
  font-weight: 700;
  font-size: 22.2px;
  font-family: var(--font-integral);
  line-height: 100%;
}
.brand {
  display: flex;
  align-items: center;
  gap: 16px;
}
.burgerBtn {
  background-color: transparent;
  outline: none;
  border: none;
}
.nav {
  display: flex;
  gap: 12px;
}
.navList {
  display: none;
}
.actions {
  display: flex;
  gap: 12px;
  align-items: center;
}
.dropdownTrigger {
  display: flex;
  align-items: center;
  gap: 4px;
  background: none;
  color: inherit;
  font-size: 16px;
  font-family: var(--font-satoshi);
  border: none;
}
@media (min-width: 1400px) {
  .promoBar {
    font-size: 14px;
  }
  .navbar {
    .brand {
      .burgerBtn {
        display: none;
      }
      .logo {
        font-size: 32px;
      }
    }
    .nav {
      gap: 40px;
      .searchIcon {
        display: none;
      }
      .navList {
        display: flex;
        gap: 24px;
        align-items: center;
        li {
          line-height: 100%;
        }
      }
    }
    .actions {
      gap: 16px;
      .searchInput {
        display: block;
        width: 577px;
        height: 48px;
        border-radius: 62px;
        outline: none;
        border: none;
        background-color: rgba(240, 240, 240, 1);
        color: #000000;
        padding-left: 42px;
        font-size: 16px;
      }
      .searchIcon {
        display: none;
      }
    }
  }
}
