.signUp {
  position: absolute;
  width: 100%;
  font-size: 12px;
  top: 0px;
  text-align: center;
  padding-block: 10px;
  background-color: #000000;
  color: #ffff;
  font-family: var(--font-satoshi);
  z-index: 10;
  a {
    text-decoration: underline;
    font-weight: 500;
  }
}
.navHeader {
  display: flex;
  align-items: center;
  padding-block: 23px;
  justify-content: space-between;
}
.navLogo {
  font-weight: 700;
  font-size: 22.2px;
  font-family: var(--font-integral);
  line-height: 100%;
}
.logoContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}
.navigation {
  display: flex;
  gap: 12px;
  input {
    display: none;
  }
}
.navigationList {
  display: none;
}
.iconContainer {
  display: flex;
  gap: 12px;
}
@media (min-width: 1400px) {
  .logoContainer {
    span {
      font-size: 32px;
    }
    img {
      display: none;
    }
  }
  .signUp {
    font-size: 14px;
  }
  .navigation {
    gap: 40px;
    .searchIcon {
      display: none;
    }
    input {
      display: block;
      width: 577px;
      height: 48px;
      border-radius: 62px;
      outline: none;
      border: none;
      background-color: rgba(240, 240, 240, 1);
      color: #000000;
      padding-left: 42px;
      font-size: 16px;
    }
    .navigationList {
      display: flex;
      gap: 24px;
      align-items: center;
      li {
        line-height: 100%;
      }
    }
    .iconContainer {
      gap: 14px;
      align-items: center;
    }
  }
}
