.categoryHeader {
  display: flex;
  max-width: 390px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 14px;
  max-width: 390px;
}
.aside {
  display: none;
}
.asideActive {
  max-width: 390px;
  display: block;
  padding: 18px;
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #ffff;
  width: 100%;
  z-index: 11;
  .filterCloseBtn {
    position: absolute;
    right: 18;
    top: 18;
    font-size: 18px;
    font-weight: 600;
    color: rgba($color: #000000, $alpha: 0.4);
    cursor: pointer;
  }
  .filterProperty {
    display: flex;
    flex-direction: column;
    gap: 16px;
    input {
      height: 48px;
      background-color: transparent;
      border-radius: 62px;
      outline: none;
      border: 1px solid black;
      color: black;
      font-size: 16px;
      padding-inline: 16px;
    }
    input[type="range"] {
      -webkit-appearance: none;
      width: 100%;
      height: 4px;
      background: #000;
      border-radius: 2px;
      outline: none;
      padding-inline: 0px;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #000;
        cursor: pointer;
      }
    }
  }
  hr {
    margin-block: 24px;
  }
  .filterApplyBtn {
    margin-top: 24px;
    height: 48px;
    background-color: #000000;
    color: #ffff;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    border-radius: 62px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
