.productGallery {
  .productDetails {
    .productImages {
      display: flex;
      gap: 12px;
      flex-direction: column;
      align-items: center;
      img {
        background-color: #f0eeed;
        border-radius: 20px;
        display: block;
      }
      .activeImage {
        border: 1px solid black;
      }
      .productThumbnails {
        display: flex;
        gap: 12px;
      }
    }
  }
  .productInfo {
    .star {
      margin-block: 12px;
    }
    margin-top: 20px;
    h1 {
      font-size: 24px;
      font-family: var(--font-integral);
    }
    hr {
      margin-block: 24px;
    }
    .priceContainer {
      display: flex;
      gap: 10px;
      align-items: center;
      .dicountedPrice {
        font-weight: 700;
        font-size: 24px;
      }
      .originalPrice {
        font-weight: 700;
        font-style: Bold;
        font-size: 24px;
        line-height: 100%;
        text-decoration: line-through;
        color: #0000004d;
      }
      .discountPercentage {
        color: #ff3333;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        background-color: #ff33331a;
        padding: 9px 12px;
        border-radius: 62px;
      }
    }
    .description {
      margin-top: 24px;
      font-size: 14px;
      line-height: 22px;
      color: #000000;
      opacity: 0.6;
    }
    .tagContainer {
      margin-top: 24px;
      p {
        font-size: 14px;
        color: #000000;
        opacity: 0.6;
      }
      .tagContent {
        margin-top: 16px;
        display: flex;
        gap: 8px;
        .tagBox {
          height: 39px;
          background-color: #f0f0f0;
          display: flex;
          align-items: center;
          border-radius: 62px;
          padding: 10px 20px;
          font-weight: 500;
          text-transform: capitalize;
          font-size: 14px;
          transition: 0.4s ease-in-out;
          &:hover {
            background-color: #000000;
            color: #ffff;
            cursor: pointer;
          }
        }
      }
    }
    .addToCart {
      display: flex;
      justify-content: space-between;
      .cartQuantity {
        max-width: 110px;
        width: 100%;
        height: 44px;
        display: flex;
        align-items: center;
        background-color: #f0f0f0;
        border-radius: 62px;
        justify-content: center;
        gap: 16px;
        color: #000000;
        button {
          background-color: transparent;
          color: #000000;
          outline: none;
          border: none;
          font-size: 25px;
          font-weight: 500;
        }
      }
      .addToCartBtn {
        max-width: 236px;
        width: 100%;
        height: 44px;
        background-color: #000000;
        color: #ffff;
        border: none;
        outline: none;
        border-radius: 62px;
      }
    }
  }
}
.productTabs {
  margin-top: 50px;
  .tabContent {
    margin-top: 20px;
    .tabPanel {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      h3 {
        align-self: flex-start;
        font-size: 20px;
        text-transform: capitalize;
        span {
          font-size: 14px;
          opacity: 0.6;
          color: #000000;
          margin-left: 6px;
        }
      }
      .reviewContainer {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .reviewCard {
          display: flex;
          flex-direction: column;
          padding: 24px;
          justify-content: space-between;
          max-width: 358px;
          width: 100%;
          height: 224px;
          border: 1px solid rgba($color: #000000, $alpha: 0.6);
          border-radius: 20px;
          p {
            font-size: 14px;
            color: #000000;
            opacity: 0.6;
            line-height: 20px;
          }
          .postDate {
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            color: #000000;
            opacity: 0.6;
          }
        }
      }
    }
  }
  .taButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      font-size: 16px;
      border: none;
      outline: none;
      background-color: transparent;
      line-height: 22px;
      padding-bottom: 10px;
    }
    .taButton {
      color: #000000;
      opacity: 0.6;
    }
    .taButtonActive {
      font-weight: 500;
      color: #000000;
      opacity: 1;
      border-bottom: 1px solid black;
    }
  }
}
@media (min-width: 800px) {
  .productTabs {
    .tabContent {
      .tabPanel {
        .reviewContainer {
          width: 100%;
          justify-content: space-between;
          flex-direction: row;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .productGallery {
    .productDetails {
      display: flex;
      justify-content: space-between;
      .productImages {
        flex-direction: row-reverse;
        & > img {
          width: 100%;
          max-width: 370px;
          height: 530px;
        }
        .productThumbnails {
          flex-direction: column;
          img {
            width: 152px;
            height: 167px;
          }
        }
      }
      .productInfo {
        max-width: 600px;
      }
    }
  }
  .productTabs {
    .tabContent {
      .tabPanel {
        align-items: flex-start;
        .reviewContainer {
          width: 100%;
          justify-content: space-between;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
    }
  }
}
@media (min-width: 1440px) {
  .productGallery {
    .productDetails {
      .productImages {
        .productPreview {
          max-width: 444px;
        }
      }
      .productInfo {
        margin-top: 0;
        h1 {
          font-size: 40px;
        }
        .star {
          span {
            font-size: 24px;
          }
        }
        .priceContainer {
          gap: 12px;
          .dicountedPrice {
            font-size: 32px;
          }
          .originalPrice {
            font-size: 32px;
          }
          .discountPercentage {
            font-size: 16px;
          }
        }
        .description {
          font-size: 16px;
        }
        .tagContainer {
          .tagContent {
            .tagBox {
              padding: 12px 24px;
            }
          }
        }
      }
    }
  }
  .productTabs {
    .tabContent {
      .tabPanel {
        .reviewContainer {
          flex-wrap: wrap;
          .reviewCard {
            max-width: 610px;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
