$background: #ffff;
$foreground: #171717;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  color: $foreground;
  background: $background;
  font-family: var(--font-satoshi), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 36px;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-brand {
  font-family: var(--font-integral), sans-serif;
}

button {
  cursor: pointer;
}

.text-body {
  font-family: var(--font-satoshi), sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@mixin hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
