.container {
  max-width: 390px;
  width: 100%;
  margin-inline: auto;
}
.innerContainer {
  max-width: 358px;
  width: 100%;
  margin-inline: auto;
}
@media (min-width: 1440px) {
  .container {
    max-width: 100%;
  }
  .innerContainer {
    max-width: 1240px;
  }
}
