.mainHeadingContainer {
  padding-top: 40px;
  padding-inline: 16px;
  background: rgba(242, 240, 241, 1);
  display: flex;
  gap: 20px;
  flex-direction: column;
  p {
    line-height: 20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
  }
  button {
    width: 100%;
    height: 54px;
    border: none;
    border-radius: 62px;
    outline: none;
    background: rgba(0, 0, 0, 1);
    font-weight: 500;
    line-height: 100%;
  }
}
.mainHeader {
  font-family: var(--font-integral);
  font-size: 36px;
  line-height: 34px;
}
.overviewContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 27px;
  row-gap: 12px;
  justify-content: center;
  h3 {
    font-weight: 700;
    font-size: 24px;
  }
  p {
    line-height: 22px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
  }
}
.imgContainer {
  position: relative;
}
.mainImage {
  display: block;
}
.rightStar {
  position: absolute;
  right: 21px;
  top: 34px;
}
.leftStar {
  position: absolute;
  left: 27px;
  top: 137px;
}
.brandContainer {
  background: rgba(0, 0, 0, 1);
  padding-inline: 16px;
  padding-block: 40px;
  display: flex;
  height: 146px;
  flex-wrap: wrap;
  column-gap: 34px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}
.newArrivals {
  margin-top: 50px;
  h2 {
    font-family: var(--font-integral);
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    line-height: 100%;
    text-align: center;
  }
  button {
    width: 100%;
    height: 46px;
    margin-top: 24px;
    border-radius: 62px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 500;
  }
  h3 {
    font-weight: 700;
    font-size: 20px;
  }
}
.newArrivalsContainer {
  display: flex;
  overflow-x: scroll;
  margin-top: 32px;
  gap: 16px;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.card {
  max-width: 200px;
  width: 100%;
  p {
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    line-height: 100%;
    font-size: 13px;
  }
  img {
    background: rgba(240, 238, 237, 1);
    border-radius: 13.42px;
  }
}
.star {
  color: gold;
  font-size: 18px;
}
.starRate {
  font-size: 12px;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);

  &::after {
    content: "/ 5";
    color: #ababab;
  }
}
.horizontalLine {
  padding-inline: 16px;
  margin-block: 40px;
}
.topSelling {
  margin-top: 0px;
}
.browseCategories {
  margin-top: 50px;
  margin-bottom: 50px;
  .categoriesContainer {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-bottom: 27px;
    h2 {
      margin-top: 40px;
      margin-bottom: 12px;
      font-family: var(--font-integral);
      color: rgba(0, 0, 0, 1);
      text-align: center;
      span {
        display: block;
      }
    }
    .categoriesBox {
      max-width: 310px;
      width: 100%;
      a img {
        display: block;
      }
    }
  }
}
.feedBack {
  h2 {
    font-family: var(--font-integral);
    color: rgba(0, 0, 0, 1);
    text-align: left;
    span {
      display: block;
    }
  }
  .arrowBtn {
    background-color: transparent;
    border: none;
  }
  .feedBackHeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .feedBackBtnContainer {
      display: flex;
      gap: 16px;
    }
  }
}
.reviewsWrapper {
  margin-top: 24px;
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  margin-bottom: 50px;
  .reviewCard {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    max-width: 358px;
    width: 100%;
    height: 186.19px;
    border: 1px solid #0000001a;
    border-radius: 20px;
    padding: 24px;
    justify-content: space-between;
    h4 {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      gap: 4px;
    }
    .stars {
      font-size: 25px;
      color: gold;
    }
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
